<li>
  <%= gravatar_for user, size: Settings.user.size %>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to t(".content_delete"), user, method: :delete, data: {confirm: t(".content_1")} %>
  <% end %>
</li>