<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t(".title_header"), root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t(".home_nav_header"), root_path %></li>
        <li><%= link_to t(".help_nav_header"), help_path %></li>
        <li><%= link_to t(".log_in_nav_header"), "#" %></li>
      </ul>
    </nav>
  </div>
</header>